h1 {
  color: darkblue;
  font-style: italic;
  font-size: 46px;
  font-family: sans-serif;
  letter-spacing: 20px;
  word-spacing: 100px;
  text-decoration: line-through;
}

p {
  text-align: right;
}
