h1 {
  color: darkblue;
  font-style: italic;
  font-size: 46px;
  font-family: sans-serif;
  letter-spacing: 20px;
  word-spacing: 100px;
  text-decoration: line-through;
}

#nav section #cta p .span {
  text-align: right;
}
#nav section p .span {
  text-align: right;
}

/* 100 + 1 + 100 + 1 + 10 === 212  */
/* 100 + 1  + 1 + 10 === 112  */

*{
  
}

/* 200 */